@model WebEAD.Areas.Extranet.Models.MainMetadado

@{
    ViewBag.Title = "Index";
}

<div class="ui grid centered">
    <div class="four wide blue column specialIDP">
        <h5 class="ui teal text bvalign">Bem vindo, @Model.func_nome.</h5>
    </div>
    <div class="seven wide blue column">
        <h1 class="hicerter">
            Web EAD
        </h1>
    </div>
    <div class="five wide blue column">
    </div>
</div>

<div class="ui grid">
</div>

