<h2>Curso</h2>
<div class="ui four column doubling stackable grid container centered">
    <div class="column">
        <p>teste</p>
        <p></p>
    </div>
    <div class="column">
        <p>teste</p>
        <p></p>
    </div>
    <div class="column">
        <p>teste</p>
        <p></p>
    </div>
    <div class="column">
        <p>teste</p>
        <p></p>
    </div>
</div>
